<%- include('partials/header') %>
    <main class="access-point">

        <form action="">
            <h2>Create account</h2>
            <label for="">Full Name</label>
            <input type="text" name="" id="">
            <label for="">Email Address</label>
            <input type="email" name="" id="">
            <label for="">Password</label>
            <input type="password" name="" id="">
            <label for="">Confirm Password</label>
            <input type="text" name="" id="">
            <input type="submit" value="Login">
            <p>Have an account already? <a href="/login">Create one</a></p>
        </form>
    </main>
    
<%- include('partials/footer') %>