@font-face {
    font-family: Mukta-Bold;
    src: url(Mukta-Bold.ttf);
}
@font-face {
    font-family: Mukta-Regular;
    src: url(Mukta-Regular.ttf);
}
@font-face {
    font-family: Mukta-Light;
    src: url(Mukta-Light.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Mukta-Regular;
}

.error {
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    margin: 5px 0;
}

#not-loggedin {
    background-image: url(../images/samsung.jpg);
    background-position: center;
    height: 100vh;
    color: #fff; 
}

#not-loggedin h2 {
    text-align: center;
    margin-top: 150px;
    font-size: 67px;

}

.container {
    padding-left: 150px;
    padding-right: 150px;
}

.access-point {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.access-point form {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #808080;
}

.access-point h2 {
    text-align: center;
    color: #0b0ba5;
}

.access-point input {
    margin-bottom: 7px;
}

.access-point input[type="submit"] {
    background-color: #0b0ba5;
    border: 1px solid #0b0ba5;
    color: #fff;
    letter-spacing: 2px;
}

.access-point a {
    text-decoration: none;
    color: #0b0ba5;
    font-weight: bold;
}

.access-point a:hover {
    text-decoration: underline;
}

header {
    height: 60px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 a {
    text-decoration: none;
    color: #0b0ba5;
    font-family: Mukta-Bold;
}

nav li {
    display: inline;
    margin-left: 10px;
}

nav li:hover {
    border-bottom: 2px solid #0b0ba5;
}

nav a {
    text-decoration: none;
    color: #0b0ba5;
    font-size: 18px;
}

#create-post {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

#create-post input[type="submit"] {
    background-color: #0b0ba5;
    border: 1px solid #0b0ba5;
    border-radius: 5px;
    color: #fff;
    padding: 4px 8px;
    width: max-content;
    margin-top: 5px;
}

.post {
    display: flex;
    margin-bottom: 5px;
    width: 600px;
}

.avatar {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.avatar img {
    height: 100%;
    border-radius: 50px;
}

.post-info {
    width: 530px;
}

.post-info > div {
    display: flex;
    align-items: end;
}

.post-info .btns {
    display: flex;
}

.post-info .btns input[type='submit'] {
    color: #0b0ba5;
    text-decoration: none;
    margin-right: 10px;
    background-color: #fff;
    border: 0;
    cursor: pointer;
}

.post-info .btns input[type='submit']:hover {
    border-bottom: 1px solid #0b0ba5;
}

